#AuthType Basic
#AuthName "Wipomo Protected Area"
#AuthUserFile /home/monkey11/repositories/Makello2.0/solar-panel-installation/.htpasswd
#Require valid-user

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /solar-panel-installation/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /solar-panel-installation/index.php [L]
</IfModule>

# END WordPress